<div id="header">
  <div class="content row bottom-lg">
    <div class="col-xs-12 col-lg-3">
      <a routerLink="/home" >
        <img src="assets/images/logo.png" />
      </a>
    </div>
    <div class="col-xs-12 col-lg-2">
      Verein
    </div>
    <div class="col-xs-12 col-lg-3">
      <a routerLink="/mannschaften">
        Mannschaften
      </a>
    </div>
    <div class="col-xs-12 col-lg-2">
      Junioren
    </div>
    <div class="col-xs-12 col-lg-2">
      Neuer Platz
    </div>
  </div>
</div>
