<div id="header">
  <div class="content row bottom-lg">
    <div class="col-xs-12 col-lg-2">
      <a routerLink="/home">
        <img src="assets/images/logo.png" />
      </a>
    </div>
    <div class="col-xs-12 col-lg-1">
      Verein
    </div>
    <div class="col-xs-12 col-lg-2">
      <a routerLink="/mannschaften">
        Mannschaften
      </a>
    </div>
    <div class="col-xs-12 col-lg-2">
      Junioren
    </div>
    <div class="col-xs-12 col-lg-2">
      <a routerLink="/neuer-platz">
        Neuer Platz
      </a>
    </div>
    <div class="col-xs-12 col-lg-1">
      Media
    </div>
    <div class="col-xs-12 col-lg-2">
      Donatoren
    </div>
  </div>
</div>