<div id="footer">
  <div class="content row">
    <div class="col-xs-12 col-md-6 col-lg-1">
      <p>Kontakt</p>
      <p>Impressum</p>
      <p>Links</p>
      <p><a href="https://www.facebook.com/fcknutwil" target="_blank"><img src="assets/images/fb.png" /></a></p>
      <p><a href="https://www.youtube.com/channel/UCCgA47p6Td49lgSKVp4GzFA" target="_blank"><img
            src="assets/images/youtube.png" /></a></p>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-3">
      <div class="sponsor">
        <p>Hauptsponsor</p>
        <img src="assets/images/ottos.png" />
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="sponsor">
        <p>Ausrüster</p>
        <img src="assets/images/ottos.png" />
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="sponsor">
        <p>Weitere Sponsoren</p>
        <img src="assets/images/ottos.png" />
      </div>
    </div>
  </div>
</div>