@import "variables";

%title {
  font-size:        $font-size-title;
  font-weight:      $font-weight-title;
  text-transform:   uppercase;
}

%border {
  border:           $border-size $border-style $border-color;
}

%content {
  @extend %border;
  width: $content-width - ($border-size * 2);
  background-color: $third-color;
  margin: $margin-center;
}
