// Color
$primary-color:     #00519e;
$alternate-color:   #ffdd0c;

// Font
$font-stack:        Verdana, Geneva, sans-serif;
$font-size:         12pt;
$font-weight:       normal;
$font-size-title:   14pt;
$font-weight-title: bold;

// Border
$border-size:       10pt;
$border-color:      $alternate-color;
$border-style:      solid;

// Size

$page-width:        1169px;
$header-height:     160px;