@import "normalize.css";
@import "variables";
@import "definitions";


body {
  font-family:  $font-stack;
  font-size:    $font-size;
  font-weight:  $font-weight;
  color:        $primary-color;

}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

#container {
  width: $page-width;
  margin: $margin-center;
}

#header {
  @extend %title;
  height: $header-height;
  background-color: $alternate-color;
}

#content_container {
  background-color: $primary-color;

  #bilderwechsel {
    @extend %content;
  }

  #carousel {
    width: $content-width;
    color: $alternate-color;
    margin: $margin-center;

    .tabs {
      @extend %title;
      display: flex;

      .tab {
        flex: 1;
        width: $content-width / 4;
        color: $third-color;
        height: 55px;
      }

      .active {
        background-color: $alternate-color;
        color: $primary-color;
      }

    }
    .content {
      background-color: $alternate-color;
    }
  }

  #content {
    @extend %content;
  }
}

#footer {
  background-color: $alternate-color;
}