<div class="row">
  <div class="col-xs-4 col-lg-2">
    <div>{{datum1 | date: 'EEEEEE dd.LL'}}</div>
  </div>
  <div class="col-xs-8 col-lg-4">
    <div>
      <p *ngFor="let spiel of spiele1">
        {{spiel.zeit}}<br />
        {{spiel.begegnung}}
        <span *ngIf="spiel.verschoben" style="color: red">
          Verschoben
        </span>
      </p>
    </div>
  </div>
  <div class="col-xs-4 col-lg-2">
    <div>{{datum2 | date: 'EEEEEE dd.LL'}}</div>
  </div>
  <div class="col-xs-8 col-lg-4">
    <div>
      <p *ngFor="let spiel of spiele2">
        {{spiel.zeit}}<br />
        {{spiel.begegnung}}
      </p>
    </div>
  </div>
</div>