<div class="row">
  <div class="col-xs-4 col-lg-2">
    <div>SA 10.10</div>
  </div>
  <div class="col-xs-8 col-lg-4">
    <div>
      <p>
        13:30 Uhr<br />
        Eb-Junioren : FC Rothenburg b
      </p>
      <p>
        14:30 Uhr<br />
        B-Junioren : FC Triengen
      </p>
      <p>
        17:30 Uhr<br />
        1. Mannschaft : FC Luzern
      </p>
    </div>
  </div>
  <div class="col-xs-4 col-lg-2">
    <div>SO 11.10</div>
  </div>
  <div class="col-xs-8 col-lg-4">
    <div>
      <p>
        13:30 Uhr<br />
        Eb-Junioren : FC Rothenburg b
      </p>
      <p>
        14:30 Uhr<br />
        B-Junioren : FC Triengen
      </p>
      <p>
        17:30 Uhr<br />
        1. Mannschaft : FC Luzern
      </p>
    </div>
  </div>
</div>