<div class="page_title row">
  <div class="col-xs-12 col-lg-3">
    Mannschaften
  </div>
</div>
<div class="content row middle-lg center-lg">
  <div class="row">
    <div class="mannschaft col-xs-12 col-lg-4">
      <img src="images/mannschaft.jpg" /><br />
      FC Knutwil 1
    </div>
    <div class="mannschaft col-xs-12 col-lg-4">
      <img src="images/mannschaft.jpg" /><br />
      FC Knutwil 1
    </div>
    <div class="mannschaft col-xs-12 col-lg-4">
      <img src="images/mannschaft.jpg" /><br />
      FC Knutwil 1
    </div>
  </div>
  <div class="row">
    <div class="mannschaft col-xs-12 col-lg-4">
            <img src=" images/mannschaft.jpg"/> <br />
    FC Knutwil 1
  </div>
  <div class="mannschaft col-xs-12 col-lg-4">
    <img src="images/mannschaft.jpg" /><br />
    FC Knutwil 1
  </div>
  <div class="mannschaft col-xs-12 col-lg-4">
    <img src="images/mannschaft.jpg" /><br />
    FC Knutwil 1
  </div>
</div>
<div class="row">
  <div class="mannschaft col-xs-12 col-lg-4">
            <img src=" images/mannschaft.jpg"/> <br />
  FC Knutwil 1
</div>
<div class="mannschaft col-xs-12 col-lg-4">
  <img src="images/mannschaft.jpg" /><br />
  FC Knutwil 1
</div>
<div class="mannschaft col-xs-12 col-lg-4">
  <img src="images/mannschaft.jpg" /><br />
  FC Knutwil 1
</div>