<div id="bilderwechsel"><img src="assets/images/bilderwechsel.png" /></div>

<div id="carousel">
  <div class="row tabs">
    <div class="col-xs-12 col-md-6 col-lg-3 tab"><a [routerLink]="[{ outlets: { content: ['news'] } }]" routerLinkactive="active">News</a></div>
    <div class="col-xs-12 col-md-6 col-lg-3 tab"><a [routerLink]="[{ outlets: { content: ['agenda'] } }]" routerLinkactive="active">Agenda</a></div>
    <div class="col-xs-12 col-md-6 col-lg-3 tab"><a [routerLink]="[{ outlets: { content: ['heimspiele'] } }]" routerLinkactive="active">Heimspiele</a></div>
    <div class="col-xs-12 col-md-6 col-lg-3 tab"><a [routerLink]="[{ outlets: { content: ['seebli'] } }]" routerLinkactive="active">Seebli</a></div>
  </div>
  <div class="content row middle-xs middle-lg">
      <router-outlet name="content"></router-outlet>
  </div>
</div>
