<div id="bilderwechsel"><img src="images/bilderwechsel.png" /></div>

<div id="carousel">
  <div class="row tabs">
    <div class="col-xs-12 col-md-6 col-lg-3 tab active"><a href="javascript:changeTab(1)">News</a></div>
    <div class="col-xs-12 col-md-6 col-lg-3 tab"><a href="javascript:changeTab(2)">Agenda</a></div>
    <div class="col-xs-12 col-md-6 col-lg-3 tab"><a href="javascript:changeTab(3)">Heimspiele</a></div>
    <div class="col-xs-12 col-md-6 col-lg-3 tab"><a href="javascript:changeTab(4)">Seebli</a></div>
  </div>
  <div class="content row middle-xs middle-lg">

  </div>
</div>